<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../partials/head.ejs', {titulo: titulo}) %>

<body>

  <%- include('../partials/nav.ejs') %>

  <main>
    <h1>
      <%=titulo%>
    </h1>
    <div class="create-blog content">
      <form action="/blogs" method="POST">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required>
        <label for="snippet">Descrição:</label>
        <input type="text" id="snippet" name="snippet" required>
        <label for="body">Corpo:</label>
        <textarea id="body" name="body" required></textarea>
        <button>Enviar</button>
      </form>
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>

</html>