<nav>
  <div class="site-title">
    <a href="/">
      <h1>Patos Blog</h1>
    </a>
    <p>Um Site Patosonline</p>
  </div>
  <ul>
    <li><a href="/">Início</a></li>
    <li><a href="sobre">Sobre</a></li>
    <li><a href="contato">Contato</a></li>
    <li><a href="novo">Novo Blog</a></li>
  </ul>
</nav>