<!DOCTYPE html>
<html lang="pt-BR">

<%- include('./partials/head.ejs', {titulo: titulo}) %>

<body>
  <%- include('./partials/nav.ejs') %>
  <main>
    <div class="erro">
      <h1>404</h1>
      <p>Página não encontrada</p>
    </div>
  </main>
  <%- include('./partials/footer.ejs') %>
</body>

</html>