<!DOCTYPE html>
<html lang="pt-BR">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <main>
    <h1>Bem-vindo</h1>
    <p>Este é um projeto de teste para aprender a usar o Node.js.</p>
    <p>É o meu primeiro!</p>

    <h2>Eu me chamo <strong>
        <%= nome%>
      </strong>!</h2>
    <p>Eu sou um desenvolvedor web.</p>
    <p>Eu gosto de aprender novas coisas, e compartilhar o que eu aprendo.</p>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>

</html>