<!DOCTYPE html>
<html lang="pt-BR">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <main>
    <h1>Eu me chamo <strong>
        <%= nome%>
      </strong>!</h1>
    <p>Eu sou um desenvolvedor web.</p>
    <p>Eu gosto de aprender novas coisas, e compartilhar o que eu aprendo.</p>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>

</html>