<!DOCTYPE html>
<html lang="pt-BR">

<%- include('./partials/head.ejs', {titulo: titulo}) %>

<body>

  <%- include('./partials/nav.ejs') %>

  <main>
    <h1>Bem-vindo</h1>
    <p>Este é um projeto de teste para aprender a usar o Node.js.</p>
    <p>É o meu primeiro!</p>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>

</html>